{% extends '::base.html.twig' %}
{%  block title %}Form {% endblock %}
{%  block body  %}

    <div>
        <form method="post" action="{{ action }}" novalidate="novalidate">
            <div>


            </div>
            <div>{{ form_label(form.title) }}: {{ form_widget(form.title, {'attr' : { 'class' : 'anyClass2'}}) }}</div>
            <div>{{ form_label(form.content) }} : {{ form_widget(form.content) }}</div>
            {{ form_rest(form) }}


        </form>
    </div>
{% endblock %}
